.wrapper {
    background-color: white;
    height: 77.47px;
    display: flex;
    justify-content: center;
    width: 100vw;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 18%);
}

.inner {
    width: 100%;
    height: var((--inner-header-height));
    display: flex;
    align-items: center;
}

.menu-btn {
    color: #7e7c7c;
    font-size: 3rem;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.logo {
    width: 160px;
    height: 35px;
}

.menu-header {
    display: flex;
    margin-left: 48px;
}

.help-btn {
    font-size: 1.3rem;
    margin-left: auto;
    text-transform: capitalize;
    border-radius: 5px;

    &:hover {
        opacity: 0.9;
        background-color: var(--primary);
    }
}

.welcome {
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: auto;
}

.avatar {
    display: block;
    object-fit: cover;
    margin-left: 16px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
