.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    background-color: rgb(255, 35, 35);
    color: white;
    margin-right: 8px;
    border-radius: 4px;
    &:hover {
        background-color: rgb(182, 11, 11);
    }
}

.green-theme {
    background-color: rgb(6, 197, 63) !important;
    &:hover {
        background-color: rgb(11, 128, 31) !important;
    }
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #fff;
    border-radius: 5px;
    min-width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.close-modal {
    padding: 12px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    color: #575656;
    :hover {
        color: #000;
    }
}

.modal-header {
    position: relative;
    font-weight: 600;
    padding: 16px 5px 16px 16px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-body {
    padding: 16px;
    color: rgb(182, 11, 11);
}

.modal-desc {
    margin-bottom: 16px;
    display: inline-block;
}

.modal-footer {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #e9ecef;
}

.modal-button-close {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    &:hover {
        color: #fff;
        background-color: #5a6268;
        border-color: #545b62;
    }
}

.modal-button-delete {
    color: #fff;
    background-color: rgb(255, 35, 35);
    &:hover {
        background-color: rgb(182, 11, 11);
    }
    margin-left: 10px;
}

.d-none {
    display: none !important;
}

.wrapper-upload-file {
    input {
        height: 100%;
        font-size: 1.8rem;
    }
}
.title-body {
    margin-bottom: 20px;
}
