.wrapper {
    background-color: var(--primary);
    height: 58px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: fixed;
    z-index: 99;
}

.back-icon {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}

.wrapper-icon {
    padding: 10px;
    padding-left: 0;
}

.title {
    font-size: 1.8rem;
    color: white;
    margin-left: 20px;
}
