.content {
    padding-top: 75px;
    .label {
        font-size: 1.9rem;
        font-weight: 600;
    }
    .input {
        display: inline-block;
        margin-top: 5px;
        font-size: 1.7rem;
        padding: 10px;
        border-radius: 10px;
        font-weight: 500;
    }
}

.name-container {
    width: 300px;
    //margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.detail-info {
    margin-top: 30px;
    h2 {
        margin-bottom: 15px;
    }
}
.footer {
    display: flex;
    justify-content: center;
}
.button-submit {
    width: 30%;
    margin: 50px 0 50px 0;
    background-color: var(--primary);
    color: #333;
    font-weight: 600;
    &:hover {
        opacity: 0.8;
    }
}

.avatar-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.upload-avatar {
    background-color: #ada9a9;
    border-radius: 4px;
    cursor: pointer;
    padding: 11px !important;

    &:hover {
        opacity: 0.8;
    }
}

.avatar-preview-container {
    width: 300px;
    height: 168.75px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.row-one {
    margin: 50px 0 70px 0 !important;
    position: relative;
}
