.date-container {
    padding: 15px 0px;
}

.select-date {
    background: transparent;
    border: none;
    color: #337ab7;
    border-bottom: 1px solid #999;
    border-radius: 0;
    font-weight: 600;
    padding: 3px;
    outline: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.title-schedule {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;
    padding: 0;
    margin: 10px 0 5px 0;
    display: flex;
    align-items: center;

    .icon-calendar {
        font-size: 2.2rem;
        margin-right: 4px;
    }
}

.schedule-time {
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.schedule-time-item {
    min-width: 22%;
    margin: 5px 8px 5px 0;
    padding: 10px 15px;
    background: #fff04b;
    font-size: 1.4rem;
    line-height: 1.3333;
    white-space: nowrap;
    text-align: center;
    color: #333;
    font-weight: 600;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 0px 2px #33b0e3 inset;
        color: #333;
        background: #fff04b;
    }
}

.no-time-title {
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
    color: #dfc102;
    line-height: 2;
}

.instruct-title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.3rem;
    color: #333;
    display: inline-block;
}
