@import '../../../scss/minxin.scss';

.wrapper {
    width: 275px;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    cursor: pointer;
    @include lg {
        width: 228px;
    }
    @include md {
        width: 228px;
    }

    @include esm {
        width: 228px;
    }
    @include mobile {
        width: 180px;
    }
    &:hover h3 {
        color: var(--primary);
    }
}

.wrapper.docterSlider {
    padding: 10px 0 30px 0;
    border: 1px solid #eee;
    align-items: center;

    .image-container {
        width: 45%;
        padding-top: 45%;
        border-radius: 50%;
    }

    .title {
        text-align: center;
    }
}
.wrapper.clinicSlider {
    .image-container {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.wrapper.handbookSlider {
    flex-direction: row;
    width: 540px;
    margin: 5px 15px;
    @include esm {
        width: 430px;
    }
    @include mobile() {
        width: 350px;
    }
    .image-container {
        width: 60%;
        padding-top: 28.4%;
    }

    .title {
        width: 50%;
        font-weight: 600;
        font-size: 1.6rem;
        padding: 4px 0 0 12px;
    }
}

.image-container {
    padding-top: 54.545%;
    background-size: cover;
}
.image {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
    border-radius: 4px;
}

.title {
    color: #111;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 400;
    white-space: pre-line;
    line-height: 21px;
}

.decs {
    color: #9f9696;
    font-size: 1.3rem;
    font-weight: 400;
}

.paddingImg {
    padding-top: 50%;
    background-color: #fff;
}
