.content {
    padding-top: 75px;

    .label {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .input {
        font-size: 1.8rem;
        padding: 10px;
        margin-bottom: 5px;
    }
}

.boder {
    border: solid 5px var(--primary) !important;
    border-radius: 30px;
}

.form-warrper {
    padding-top: 40px;
}

.button-submit {
    background-color: var(--primary);
    color: #333;
    font-weight: 600;
    &:hover {
        opacity: 0.8;
    }
    margin: 24px 0;
}

.avatar-container {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.upload-avatar {
    background-color: #ada9a9;
    border-radius: 4px;
    cursor: pointer;
    padding: 11px;
    margin: 0;

    &:hover {
        opacity: 0.8;
    }
}

.avatar-preview-container {
    width: 100px;
    height: 100px;
    margin-left: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 999px;
    position: absolute;
    right: 120px;
    cursor: pointer;
}
